.main {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.title {
    width: 80%;
    height: 150px;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
}

.blueText {
    color: #496FD3;
}

.whiteText {
    color: white;
}

.box {
    width: 90%;
    height: 500px;
}

.table {
    width: 80%;
    height: 500px;
    margin-right: 80px;
}

.row {
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    color: white;
    border-bottom: 2px solid rgba(73, 111, 211, 0.3);
    font-family: 'IBM Plex Mono', monospace;
    height: 70px;
    display: flex;
    align-items: center;
}

.holder {
    padding-top: 50px;
    display: flex;
    height: 300px;
}

