@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

.main {
    width: 100%;
    height: 1000px;
}

.outer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.text {
    width: 90%;
    height: 200px;
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
    font-weight: 700;
    font-size: 64px;
    color: white;
}

.right {
    height: 100%;
    width: 50%;
    font-weight: 500;
    line-height: 29px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.blue {
    color: #496FD3;
}

.white {
    color: white;
}

.picblock {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slotone,
.slottwo,
.slotthree {
    user-select: none;
    width: 300px;
    height: 400px;
    position: relative;
    margin-right: 30px;
    background: linear-gradient(to bottom, #51A7E5, #2511A5);
    clip-path: polygon(20% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 20%);
}

.slottwo {
    width: 340px;
    height: 450px;
}

.slotone::after,
.slottwo::after,
.slotthree::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #0A0A1D;
    clip-path: polygon(20% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 20%);
    z-index: 0;
}

.card {
    margin-left: 300px;
}

.imgblock {
    height: 200px;
    width: 300px;
    margin-left: 0px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
    font-size: 24px;
    line-height: 44px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.imgblocktwo {
    height: 200px;
    width: 350px;
    margin-left: 0px;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
    font-size: 24px;
    line-height: 44px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.reg {
    width: 18%;
    height: 57px;
    border-radius: 10px;
    border: 2px solid #496FD3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 20px;
    line-height: 26px;
}

.reg:hover {
    background-color: #496FD3;
}

.button {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgthree {
    margin-bottom: 30px;
}

@media (max-width: 1300px) {
    .reg {
        font-size: 17px;
    }

    .right {
        text-align: justify;
    }

    .left {
        font-size: 55px;
    }
}

@media (max-width: 700px) {

    .main {
        width: 100%;
        height: 1350px;
    }
    
    .left {
        height: 100%;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        color: white;
    }

    .right {
        height: 100%;
        width: 100%;
        font-weight: 500;
        line-height: 29px;
        font-size: 10px;
        margin-top: 30px;
        color: white;
        font-family: 'IBM Plex Mono', monospace;
    }

    .text {
        width: 90%;
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    .slotone,
    .slottwo,
    .slotthree {
        margin-bottom: 30px;
        user-select: none;
        width: 200px;
        height: 400px;
        position: relative;
        margin-right: 30px;
        background: linear-gradient(to bottom, #51A7E5, #2511A5);
        clip-path: polygon(20% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 20%);
    }

    .slottwo {
        width: 200px;
        height: 450px;
    }

    .picblock {
        margin-top: 250px;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
    }

    .imgblock {
        height: 200px;
        width: 200px;
        margin-left: 0px;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        position: relative;
        font-size: 14px;
        line-height: 44px;
        color: white;
        margin-top: 30px;
        font-family: 'IBM Plex Mono', monospace;
    }
    
    .imgblocktwo {
        height: 150px;
        width: 200px;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        position: relative;
        font-size: 14px;
        line-height: 44px;
        color: white;
        font-family: 'IBM Plex Mono', monospace;
    }

    .img {
        height: 100px;
        width: 100px;
    }

    .imgthree {
        margin-bottom: 30px;
        height: 100px;
        width: 100px;
    }


    .reg {
        width: 50%;
        height: 57px;
        border-radius: 10px;
        border: 2px solid #496FD3;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-right: 35px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: 12px;
        line-height: 26px;
        margin-top: 150px;
    }
    
}